---
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
//FONTS

import SEO from '../components/SEO.astro';

//CSS
import '../styles/style.scss';

export interface Props {
	title: string;
}
const {currentUrl = new URL(Astro.request.url).href } = Astro.props
const { bodyClass = '' } = Astro.props;
const { postMeta } = Astro.props;
---

<!DOCTYPE html>
<html lang="it"
class={bodyClass}>
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />

		<SEO
		title={postMeta.title}
		description= {postMeta.description}
		ogUrl = {currentUrl }
		ogTitle = {postMeta.ogTitle}
		ogDescription = {postMeta.ogDescription}
		ogImage = {postMeta.ogImage}
		>
		</SEO>


<!-- FAVICON -->

<!-- <link rel="apple-touch-icon" sizes="180x180" href="/images/favicons/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="/images/favicons/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="/images/favicons/favicon-16x16.png">
<link rel="manifest" href="/images/favicons/site.webmanifest">
<link rel="shortcut icon" href="/images/favicons/favicon.ico">
<meta name="msapplication-TileColor" content="#da532c">
<meta name="msapplication-config" content="/images/favicons/browserconfig.xml">
<meta name="theme-color" content="#ffffff"> -->


	</head>
	<body>
		<Header/>

		<slot />

		<Footer/>

		<script src="../scripts/app.js"></script>

	</body>
</html>

